<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
[Statement:]
    <meta name="generator" content="MetaQuotes Software Corp.">
    <link rel="help" href="http://www.metaquotes.net">
    <style type="text/css" media="screen">
    <!--
    td { font: 8pt Tahoma,Arial; }
    //-->
    </style>
    <style type="text/css" media="print">
    <!--
    td { font: 7pt Tahoma,Arial; }
    //-->
    </style>
    <style type="text/css">
    <!--
    .msdate { mso-number-format:"General Date"; }
    .mspt   { mso-number-format:\#\,\#\#0\.00;  }
    //-->
    </style>
  </head>
<body topmargin=1 marginheight=1>
<div align=center>
[CompanyName:]


<table cellspacing=1 cellpadding=3 border=0>
<tr align=left>
[Account:]
[Name:]
[Currency:]
[Leverage:]
[Fulltime:]

<tr align=left><td colspan=13><b>Closed Transactions:</b></td></tr>
<tr align=center bgcolor="#C0C0C0">
   <td>Ticket</td><td nowrap>Open Time</td><td>Type</td><td>Size</td><td>Item</td>
   <td>Price</td><td>S / L</td><td>T / P</td><td nowrap>Close Time</td>
   <td>Price</td><td>Commission</td><td>Taxes</td><td>Swap</td><td>Profit</td></tr>

[Closed Transactions:]

<tr align=right>
    <td colspan=10>&nbsp;</td>
[sumComission:]
[sumTax:]
[sumSwap:]
[sumProfit:]
</tr>

<tr align=right>
    <td colspan=12 align=right><b>Closed P/L:</b></td>
[closedPL:]
</tr>

<tr align=left><td colspan=14><b>Open Trades:</b></td></tr>
<tr align=center bgcolor="#C0C0C0">
    <td>Ticket</td><td nowrap>Open Time</td><td>Type</td><td>Size</td><td>Item</td>
    <td>Price</td><td>S / L</td><td>T / P</td><td>&nbsp;</td>
    <td>Price</td><td>Commission</td><td>Taxes</td><td>Swap</td><td>Profit</td></tr>
<tr align=right><td colspan=13 align=center>No transactions</td></tr>


<tr align=right>
    <td colspan=10>&nbsp;</td>
    <td class=mspt>0.00</td>
    <td class=mspt>0.00</td>
    <td class=mspt>0.00</td>
    <td class=mspt>0.00</td>
</tr>
<tr><td colspan=10>&nbsp;</td><td colspan=2 align=right><b>Floating P/L:</b></td>
    <td colspan=2 align=right title="Commission + Swap + Profit" class=mspt><b>0.00</b></td></tr>

<tr align=left><td colspan=14><b>Working Orders:</b></td></tr>
<tr align=center bgcolor="#C0C0C0">
    <td>Ticket</td><td nowrap>Open Time</td><td>Type</td><td>Size</td><td>Item</td>
    <td>Price</td><td>S / L</td><td>T / P</td><td colspan=2 nowrap>Market Price</td><td colspan=4>&nbsp;</td></tr>
<tr align=right><td colspan=13 align=center>No transactions</td></tr>


<tr><td colspan=14 style="font: 1pt arial">&nbsp;</td></tr>

<tr align=left><td colspan=14><b>Summary:</b></td></tr>
<tr align=right>
    <td colspan=2><b>Deposit/Withdrawal:</b></td>
[DepositWithdrawal:]
    <td colspan=4><b>Credit Facility:</b></td>
    <td class=mspt><b>0.00</b></td>
    <td colspan=5>&nbsp;</td></tr>
    
<tr align=right>
    <td colspan=2><b>Closed Trade P/L:</b></td>
[ClosedTradePL:]
    <td colspan=4><b>Floating P/L:</b></td>
    <td class=mspt><b>0.00</b></td>
    <td colspan=3><b>Margin:</b></td>
    <td colspan=2 class=mspt><b>0.00</b></td></tr>

<tr align=right>
    <td colspan=2><b>Balance:</b></td>
[Balance:]
    <td colspan=4><b>Equity:</b></td>
[Equity:]
    <td colspan=3><b>Free Margin:</b></td>
[FreeMargin:]
    
<tr><td colspan=14 style="font: 1pt arial">&nbsp;</td></tr>
<tr align=left><td colspan=14><b>Details:</b></td></tr>

<tr align=center><td colspan=14><div style="overflow: hidden; width: 820px; height: 200px;">
[img:]
</div>

</td></tr>

<tr align=right>
    <td colspan=2><b>Gross Profit:</b></td>
[GrossProfit:]
    <td colspan=4><b>Gross Loss:</b></td>
[GrossLoss:]
    <td colspan=3><b>Total Net Profit:</b></td>
[TotalNetProfit:]
    
<tr align=right>
    <td colspan=2><b>Profit Factor:</b></td>
[ProfitFactor:]
    <td colspan=4><b>Expected Payoff:</b></td>
[ExpectedPayoff:]
    <td colspan=5>&nbsp;</td></tr>
    
<tr align=right>
    <td colspan=2><b>Absolute Drawdown:</b></td>
[AbsoluteDrawdown:]
    <td colspan=4><b>Maximal Drawdown:</b></td>
[MaximalDrawdown:]
    <td colspan=3><b>Relative Drawdown:</b></td>
[RelativeDrawdown:]

<tr><td colspan=14 style="font: 1pt arial">&nbsp;</td></tr>
    
<tr align=right>
    <td colspan=2><b>Total Trades:</b></td>
[TotalTrades:]
    <td colspan=4><b>Short Positions (won %):</b></td>
[ShortPositions:]
    <td colspan=3><b>Long Positions (won %):</b></td>
[LongPositions:]

<tr align=right>
    <td colspan=8><b>Profit Trades (% of total):</b></td>
[ProfitTrades:]
    <td colspan=3><b>Loss trades (% of total):</b></td>
[Losstrades:]


<tr align=right>
    <td colspan=2><b>Largest</b></td>
    <td colspan=6><b>profit trade:</b></td>
[LargestProfitTrades:]
    <td colspan=3><b>loss trade:</b></td>
[LargestLossTrades:]

<tr align=right>
    <td colspan=2><b>Average</b></td>
    <td colspan=6><b>profit trade:</b></td>
[AvarageProfitTrades:]
    <td colspan=3><b>loss trade:</b></td>
[AvarageLossTrades:]

<tr align=right>
    <td colspan=2><b>Maximum</b></td>
    <td colspan=6><b>consecutive wins ($):</b></td>
[MaximumConsecutiveWins:]
    <td colspan=3><b>consecutive losses ($):</b></td>
[MaximumConsecutiveLosses:]

<tr align=right>
    <td colspan=2><b>Maximal</b></td>
    <td colspan=6><b>consecutive profit (count):</b></td>
[MaximalConsecutiveProfit:]
    <td colspan=3><b>consecutive loss (count):</b></td>
[MaximalConsecutiveLoss:]

<tr align=right>
    <td colspan=2><b>Average</b></td>
    <td colspan=6><b>consecutive wins:</b></td>
[AverageConsecutiveWins:]
    <td colspan=3><b>consecutive losses:</b></td>
[AverageConsecutiveLosses:]
</table>
</div></body></html>
